body{
    background-image: url('/studentlife.webp');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: 5;
  }
 form{
  position: relative;
  top:20px;

  left:70px;
  background-color:aqua;
  border:2px solid black;
  border-radius: 5px;
 width: 500px;
 display: flexbox;
  }
  label{
      color:rgb(35, 17, 224);
  }